/* .container-cascata {
    background-color: aqua;
}


.container-cascata {
    background-color: orange;
} */

/* ------- Especificidade ------- */

#meu-paragrafo {
    background-color: violet;
}

p {
    background-color: lightblue;
}

.container-especificadade p {
    background-color: greenyellow;
}

